.footer {
  background-color: $footer-color;
  margin-top: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-secondary;

  @include respond(phone-port) {
    margin-top: 0;
    height: 15rem;
    text-align: center;
  }

  a {
    text-decoration: underline;
  }
}
