// COLORS
$white: #ffffff;
$black: #000000;
$color-primary: #0d3a69;
$color-secondary: #1b545d;
$color-tertiary: #ffc013;
$footer-color: #efefef;

//FONT FAMILY
//$font-secondary: "DINCond", sans-serif;
// FONT-SIZES
$big-title-font-size: 15rem;
$lead-font-size: 2rem;
$title-font-size: 3rem;
$section-width: 60%;
$laptop-section-width: 80%;

$product-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.3);
$product-shadow-hover: 10px 10px 18px 0px rgba(0, 0, 0, 0.5);
$light-shadow: 0px 8px 15px 0 #c2c2c2;
