html,
body,
section,
div,
input,
form,
label {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  //font-family: "DIN";
  overflow-x: hidden;
  color: $color-primary;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;

  @include respond(tab-port) {
    font-size: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Norwester", serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: $big-title-font-size;
}

h3,
h4,
h5,
h6 {
  font-size: $title-font-size;
}

p {
  letter-spacing: 0.1rem;
  line-height: 1.5;
  margin: 0;
}

section {
  width: $section-width;
  margin: 0 auto;

  @include respond(laptop) {
    width: $laptop-section-width;
  }
}

a {
  text-decoration: none;
  color: $color-secondary;
}

button {
  font-family: "Montserrat", sans-serif;
  background-color: $color-secondary;
}
