.registration {
  height: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include respond(tab-port) {
    width: 90%;
  }
  @include respond(phone-port) {
    flex-direction: column;
    padding: 4rem 0;
    height: max-content;
  }

  &__intro {
    font-weight: 600;
    margin-right: 5rem;
    min-width: max-content;
    font-size: 1.4rem;

    @include respond(tab-land) {
      min-width: initial;
      margin-right: 0;
    }
    @include respond(tab-port) {
      min-width: initial;
      margin-right: 1.5rem;
      width: 18rem;
    }
    @include respond(phone-port) {
      min-width: initial;
      margin-right: 1.5rem;
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
